* {
  margin: 0;
  padding: 0;
}

.admin_body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.admin_header {
  border-bottom: 3px solid #d9d9d9;
  width: 75%;
  float: left;
}

.main-title {
  color: #000;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.4px;
  float: left;
  margin-left: 2%;
  margin-bottom: 1%;
}

.digital-clock {
  width: 15%;
  margin-left: 80%;
  font-size: 1rem;
  text-align: center;
  margin-top: 1.5%;
}

.aside_title {
  margin-top: 0;
  margin-right: 5rem;
  float: right;
}

.admin_nav {
  margin-top: 1rem;
  width: 75%;
  height: 3rem;
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.info_table {
  width: 17.5%;
  height: 1.6rem;
  border-radius: 5px;
  background: #87deff;
  font-size: 0.7rem;
  font-weight: 700;
  margin-left: 0.1%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.info_title {
  float: left;
  padding: 2%;
  margin-left: 12%;
}

.info_num {
  float: right;
  padding: 1.8%;
  margin-left: 17%;
}

.admin_container {
  width: 75%;
  float: left;
}

.table_choice {
  display: flex;
  margin: 0 auto;
  height: 1.6rem;
  width: 9%;
  align-items: center;
  color: #000;
  border-radius: 5px;
  margin-left: 90%;
  font-size: 0.9rem;
  font-weight: 700;
  justify-content: center;
}
